{% extends './layouts/base.html'%}
{% block content%}
{{error}}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam reprehenderit ab sint et doloribus voluptatem, porro perferendis vitae consequuntur! Ea repellendus blanditiis animi. Nobis, magnam ad. Quisquam, repellendus culpa. Dolores fugiat enim ut explicabo aspernatur! Dolores omnis veniam cumque minima est voluptas ipsa, sit tempora debitis numquam similique iure aliquid fugit architecto earum fuga ratione harum. Voluptate ipsum, aperiam, delectus excepturi dolor facere pariatur totam cumque, perspiciatis maxime enim nemo autem ullam. Quos perspiciatis vitae aliquam recusandae distinctio magnam explicabo, sed neque sequi vero quaerat, sit cum aliquid, facere inventore nemo est? Officia alias velit corrupti esse sit rerum laudantium.</p>
    </section>
</main>
{% endblock %}